<h1 class="modal-title">Satellites - An Interactive Visualization</h1>
<div class="modal-body">
  <div class="modal-intro">
    <h2>A visualization to find insightful information from a data-set of satellites for the space enthusiasts.</h2>
  </div>
  <div class="divider"></div>
  <div class="modal-content">
  <p>Here's a short video of the final output from this project:</p>
  <div class="desktop-visible text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ANsGOtnIDUA?rel=0?ecver=1" frameborder="0"
            allowfullscreen></iframe>
  </div>
  <div class="desktop-hidden text-center">
    <iframe width="280" height="169" src="https://www.youtube.com/embed/ANsGOtnIDUA?rel=0?ecver=1" frameborder="0"
            allowfullscreen></iframe>
  </div>
  </div>
</div>
