.custom {
  &.highlight {
    background-color: #b8b8b8;
  }
}
.text-center {
  text-align: center;
}
pre code {
  word-wrap: break-word;
}
.dark-red {
  color: #cb0800;
}
.dark-blue{
  color: #006b6f;
}
img {
  border: 1px solid #9a9a9b;
}