<!DOCTYPE html>
<html>

  {% include home_head.html %}

  <body class="{{ page.body_class }}">
      {{ content }}



    <link href='http://fonts.googleapis.com/css?family=Flamenco' rel='stylesheet' type='text/css' async>
    <link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}" async>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" async>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ "/js/libs/wow.min.js" }}"></script>
	<script type="text/javascript" src="{{ "/js/home.js" }}"></script>

  </body>

</html>
